@page "/dong-ho"
@using System.Threading;
<h3>Component</h3>
<h1>@time.ToString(@"mm\:ss")</h1>
<button class="btn btn-primary" @onclick="StartTimer">Bắt Đầu</button>
<button class="btn btn-primary" @onclick="StopTimer">Kết Thúc</button>
<button class="btn btn-primary" @onclick="ResetTimer">Đặt Lại</button>
<h1>@i</h1>

@code
{
    TimeSpan time;
    TimeSpan time_;
    TimeSpan defaultTime = new TimeSpan(0, 25, 0);
    Timer timer;
    Timer times;
    int dem=0;
    int i = 0;
    protected override void OnInitialized()
    {
        time = defaultTime;
        timer = new Timer((_) =>
        {
            time = time.Add(new TimeSpan(0, 0, -1));
            InvokeAsync(() =>
            {
                dem++;
                if (dem == 300)
                {
                    count();
                    dem = 0;
                }
                StateHasChanged();
            });
        });
    }
    private void StartTimer()
    {
        timer.Change(0, 1000);
    }
    private void count()
    {
        i++;
    }
    private void StopTimer()
    {
        timer.Change(Timeout.Infinite, Timeout.Infinite);
    }

    private void ResetTimer()
    {
        i = 0;
        timer.Change(Timeout.Infinite, Timeout.Infinite);
        time = defaultTime;
        dem = 0;
        StateHasChanged();
    }
}